
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Product List</title>
	</head>
	<body>
		<a href="/products/new">Add a New Product</a>
        <h1>Sporting Goods</h1>
        <ul>
            <%products.forEach(product => { %>
                <li><a href="/products/<%=product._id%>"><%=product.name; %> </a><br>
                    <%=product.img; %> <br>
                    <%=product.description; %> <br>
                    <%=product.price; %> <br>
                    <%=product.qty; %> <br>
                    <% }) %>
                
                </li>
        </ul>
	</body>
</html>